<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=bOMEaEbz7O">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=bOMEaEbz7O">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=bOMEaEbz7O">
  <link rel="manifest" href="/assets/icons/site.webmanifest?v=bOMEaEbz7O">
  <link rel="shortcut icon" href="/assets/icons/favicon.ico?v=bOMEaEbz7O">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=bOMEaEbz7O">

  <!-- MathJax -->
  <!-- <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script> -->
  
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>
</head>
